@model Railway_Managment_System.Models.FareDetail

@{
    ViewData["Title"] = "Fare";
}

<div class="container">
    <h2 class="text-success text-center my-5"> <img src="/img/shir.png" width="75" height="75"> <span style="color:#CD901F;">Fare</span> <span style="color:;"></span></h2>

    <form asp-action="EditFare" asp-controller="fareDetail" method="post">
        <div>
            <input type="hidden" asp-for="FId">
        </div>
        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Train Name</label>
            <select class="form-select" asp-for="TrainId" asp-items="@(ViewBag.train)" aria-label="Default select example">
                @* <option selected>Select Train</option>
                @foreach (var item in Model)
                {
                <option value="@item.Id">@item.TrainName</option>

                } *@
            </select>
        </div>

        <div class="mb-3">
            <label for="class" class="form-label">Class</label>
            <select id="class" class="form-select" asp-for="Class">
                <option selected>Select Class</option>
                <option value="OneAc">OneAc</option>
                <option value="TwoAc">TwoAc</option>
                <option value="ThreeAc">ThreeAc</option>
                <option value="Sleeper">Sleeper</option>
                <option value="General">General</option>
            </select>
        </div>

        <div class="mb-3">
            <label for="rate" class="form-label">Rate</label>
            <input type="text" value="@ViewBag.farerate" asp-for="Rate" class="form-control" id="rate">
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
